{% extends 'base.html' %}
{% load static %}
{% block title %}  Contact {% endblock %}

{% block content %}

<!-- <main class="main">
  <section class="section">
    <div class="container text-center">
      <h1>Thank You, {{ name }}!</h1>
      <p>Your message has been received. We'll get back to you shortly.</p>
      <a href="{% url 'ConstructTech:contact' %}" class="btn btn-primary">Submit Another Request</a>
    </div>
  </section>
</main> -->



  <main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background" style="background-image: url('{% static 'assets/img/AT-1.jpeg' %}');">
      <div class="container position-relative">

      </div>
    </div><!-- End Page Title -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-6">
            <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-geo-alt"></i>
              <h3>Address</h3>
              <p>PO.BOX 57,kericho</p>
            </div>
          </div><!-- End Info Item -->

          <div class="col-lg-3 col-md-6">
            <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-telephone"></i>
              <h3>Call Us</h3>
              <p>+254794760331</p>
            </div>
          </div><!-- End Info Item -->

          <div class="col-lg-3 col-md-6">
            <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-envelope"></i>
              <h3>Email Us</h3>
              <p>AnonClassic@gmail.com</p>
            </div>
          </div><!-- End Info Item -->

        </div>

        <div class="row gy-4 mt-1">
          <div class="col-lg-12" data-aos="fade-up" data-aos-delay="300" style="width: 100%; padding: 0; margin: 0;">
            <iframe 
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d510691.8396994686!2d35.35204331799317!3d-0.25112469180761543!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182a575e241cfed9%3A0xd773e539b21bacf4!2sTengecha%20Rd%2C%20Kericho!5e0!3m2!1sen!2ske!4v1733211944674!5m2!1sen!2ske" 
                width="100%" 
                height="450" 
                style="border:0;" 
                allowfullscreen="" 
                loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
        <br>
        <!-- End Google Maps -->

          <div class="container" data-aos="fade-up" data-aos-delay="100">
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" name="name" class="form-control" id="name" value="{{ contact.name }}" placeholder="Your Name" required>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" name="email" id="email" value="{{ contact.email }}" placeholder="Your Email" required>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <label for="subject" class="form-label">Subject</label>
                    <input type="text" name="Subject" class="form-control" id="subject" value="{{ contact.subject }}" placeholder="Subject" required>
                </div>
                <div class="form-group mt-3">
                    <label for="message" class="form-label">Message</label>
                    <textarea class="form-control" name="Message" id="message" rows="5" placeholder="Message" required>{{ contact.message }}</textarea>
                </div>
                <div class="mt-3 text-center">
                    <button type="submit" class="btn btn-primary" style="background-color: #feb900;">Send Message</button>
                </div>
            </form>
        </div>
    </section>




          
        </div>

      </div>

    </section><!-- /Contact Section -->

  </main>
{% endblock %}