{% load static %}
<footer id="footer" class="footer dark-background" >

  <div class="container footer-top"  >
    <div class="row gy-4">
      <div class="col-lg-4 col-md-6 footer-about">
        <a href="index.html" class="logo d-flex align-items-center">
          <span class="sitename">ConstructTech</span>
        </a>
        <div class="footer-contact pt-3">
          <p>Tengecha street</p>
          <p>PO.BOX 57,kericho</p>
          <p class="mt-3"><strong>Phone:</strong> <span>+254794760331</span></p>
          <p><strong>Email:</strong> <span>AnonClassic@gmail.com</span></p>
        </div>
        <div class="social-links d-flex mt-4">
          <!-- <a href=""><i class="bi bi-twitter-x"></i></a>
          <a href=""><i class="bi bi-facebook"></i></a>
          <a href=""><i class="bi bi-instagram"></i></a>
          <a href=""><i class="bi bi-linkedin"></i></a> -->
        </div>
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Useful Links</h4>
        <ul>
          <li><a href="{% url 'ConstructTech:index' %}" class="active">Home</a></li>
          <li><a href="{% url 'ConstructTech:about' %}">About us</a></li>
          <li><a href="{% url 'ConstructTech:projects' %}">Project</a></li>


        </ul>
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Our Services</h4>
        <ul>
          <li>Building Construction</li>
          <li>Architectural Design</li>
          <li>Renovation & Remodeling</li>
          <li>Construction Project Management</li>
          <li>Site Survey & Analysis</li>
        </ul>
      </div>
      

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Why Choose Us</h4>
        <ul>
          <li>Experienced Professionals</li>
          <li>Innovative Designs</li>
          <li>Commitment to Quality</li>
          <li>Timely Project Completion</li>
          <li>Customer Satisfaction Guaranteed</li>
        </ul>
      </div>
      

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Our Values</h4>
        <ul>
          <li>Innovation at Every Step</li>
          <li>Integrity in All We Do</li>
          <li>Excellence through Teamwork</li>
          <li>Commitment to Sustainability</li>
          <li>Empowering Communities</li>
        </ul>
      </div>
      

    </div>
  </div>

  <div class="container copyright text-center mt-4">
    <p>© <span>Copyright</span> <strong class="px-1 sitename">Anon Classic</strong> <span>All Rights Reserved</span></p>
  </div>

</footer>
